<h1>Ratings</h1>

<div id="wrapper">
	<p>Yesterday's highest rated photo by total rating is:</p>
	<ul>
		<li>Photo ID: <%= @winningPhoto.id %></li>
		<li>User ID: <%= @winningPhoto.user_id %></li>
		<li>User Name: <%= @winningUser %></li>
	</ul>

	<p>Yesterday's highest rated photo by ave star rating is:</p>
	<ul>
		<li>Photo ID: <%= @true_winningPhoto.id %></li>
		<li>User ID: <%= @true_winningPhoto.user_id %></li>
		<li>User Name: <%= @true_winningUser %></li>
	</ul>
</div>
