<h1>Ratings</h1>

<div class="main_container">
	<div id="wrapper">
		<p>Yesterday's highest rated photo by total rating is:</p>
		<ul>
			<li>Photo ID: <%= @winning_photo.id %></li>
			<li>User ID: <%= @winning_photo.user_id %></li>
			<li>User Name: <%= @winning_user %></li><br>
			<li><%= image_tag @winning_photo.image.url %></li>
		</ul>

		<p>Yesterday's highest rated photo by ave star rating is:</p>
		<ul>
			<li>Photo ID: <%= @true_winning_photo.id %></li>
			<li>User ID: <%= @true_winning_photo.user_id %></li>
			<li>User Name: <%= @true_winning_user %></li>
		</ul>

	</div>
</div>
