<h1>Rate a random Photo</h1>

<div id="wrapper">
	<p>Random photo generated below. Rate it by number of stars...</p>
	<p>Photo ID: <%= @photo.id %></p>

	<p>Rate this photo!</p>

<!-- need to pass in user id for the person who gave the rating=>>  -->

	<%= form_for @rating do |f| %>
		<%= f.label :value %>
		<%= f.text_field :value %>
		<%= f.hidden_field :photo_id, :value => @photo.id %>

		<%= f.submit "Rate!" %>
	<% end %>

<li>
	<div class="button">
		<%= link_to "HISTORY", ratings_path %>
	</div>
</li>

</div>

<!-- 
<div>
	<%= radio_button_tag(:value, 1) %>
	<%= label_tag(:value_photo, "1") %>
	<%= radio_button_tag(:value, 2) %>
	<%= label_tag(:value_photo, "2") %>
	<%= radio_button_tag(:value, 3) %>
	<%= label_tag(:value_photo, "3") %>
	<%= radio_button_tag(:value, 4) %>
	<%= label_tag(:value_photo, "4") %>
	<%= radio_button_tag(:value, 5) %>
	<%= label_tag(:value_photo, "5") %>
</div> -->
